{% import "_includes/forms" as forms %}

{% set hashField %}
    {{ forms.text({
        id: 'mathcha_hash',
        size: 40,
        name: 'settings[module_data][mathcha][hash]',
        value: settings.hash ?? null,
    }) }}

    <a id="action-generate-hash" class="btn" title="{{ 'Generate'|t }}" role="button">Generate</a>
    <div id="hash-spinner" class="spinner hidden"></div>
{% endset %}

{{ forms.field({
    id: 'mathcha_hash',
    label: "Hash Key" | t,
    instructions: "Hash key for encoding/decoding number result." | t,
}, hashField) }}

{% set js %}
    var xhr;
    var $hash_spinner = $('#hash-spinner');

    $('a#action-generate-hash').on('click', function(e) {
        e.preventDefault();

        var opt = {
            module: 'mathcha',
            do: 'generate_hash'
        };
        
        xhr && xhr.abort();
        $hash_spinner.toggleClass('hidden');

        xhr = $.get('{{ url('comments/plugins/captcha/module/settings') }}', opt, function(res) {
            if (res && res.html) $('#mathcha_hash').val(res.html);
        })
        .always(function() {
            $hash_spinner.toggleClass('hidden');
        });
    });
{% endset %}

{% if craft.request.isAjax %}
<script>
    {{ js }}
</script>
{% else %}
    {% includejs %}{{ js }}{% endincludejs %}
{% endif %}