{% requireAdmin %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set title = "Captcha Settings"|t %}

{% set fullPageForm = true %}

{% set crumbs = [
    { label: "Comments" | t, url: url('comments') },
    { label: "Plugins" | t, url: url('comments/plugins') },
    { label: "Captcha" | t, url: '#' },
] %}

{% block content %}
    <input type="hidden" name="action" value="comments/savePluginSettings">
    <input type="hidden" name="redirect" value="comments/plugins/captcha/settings">
    <input type="hidden" name="pluginClass" value="Captcha">
    {{ getCsrfInput() }}

    {% set selectField %}
        {{ forms.select({
            id: 'captcha_module',
            name: 'settings[captcha_module]',
            value: settings.captcha_module,
            options: modules,
            first: true,
        }) }}
        <div id="module-spinner" class="spinner hidden"></div>
    {% endset %}

    {{ forms.field({
        label: "Captcha Module" | t,
        instructions: "Select captcha module to use." | t,
        id: 'captcha_module',
    }, selectField) }}

    <div id="module-settings">
        {% hook "captcha.module.settings" %}
    </div>
{% endblock %}

{% includejs %}
    var xhr;
    $(function() {
        var $container = $('#module-settings');
        var $module_spinner = $('#module-spinner');

        function loadSettings(module) {
            var opt = {
                module: module
            };

            xhr && xhr.abort();
            $module_spinner.toggleClass('hidden');

            xhr = $.get('{{ url('comments/plugins/captcha/module/settings') }}', opt, function(res) {
                if (res && res.html) $container.append( $(res.html) );
            })
            .always(function() {
                $module_spinner.toggleClass('hidden');
            });
        }

        $('#captcha_module').on('change loadsettings', function() {
            var $el = $(this);
            $container.empty();

            if (this.value == '') return;
            loadSettings(this.value);
        })
    });
{% endincludejs %}
